.App {
  height: 100%;
  text-align: center;
  color: white;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 150px;
  padding-top: 150px;
}

.quoteFormContainer {
  display: flex;
  flex-direction: column;
}

.infoContainer {
  padding: 30px 100px;
  display: flex;
  justify-content: space-around;
}

.partInfo {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
}

p {
  padding: 5px;
}

.submitButtonContainer{
  padding-top: 10px;
}

.submitButton {
  width: 100px;
  border-radius: 5px;
}

.appButton {
  margin: 2px;
  padding: 5px;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-size: 16px;
}

input, select {
  padding: 5px;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}